@font-face {
	font-family: "cuprum";
	src: url("../css/cuprum.ttf");
}
@font-face {
	font-family: "cuprum-italic";
	src: url("../css/cuprum-italic.ttf");
}
@font-face {
	font-family: "cuprum-bold";
	src: url("../css/cuprum-bold.ttf");
}
html {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
}
.clearfix {
    clear: both;
}
.main {
	width: 1200px;
	margin: 0px auto;
	background-color: #ffffff;
}
header {
	width: 1200px;
	height: 320px;
	background-color: #f1f5f7;
}
.topnav {
	width: 1070px;
	height: 42px;
	padding-left: 130px;
	margin-bottom: 0px;
	background-color: #32425c;
}
.logo {
	width: 220px;
	height: 42px;
	float: left;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
	text-transform: uppercase;
	text-align: center;
	line-height: 45px;
	font-family: "cuprum";
	font-size: 24px;
	color: 	#f1f2f4;
}
.logo:hover {
	background-color: #ca2c37;
}
.logo:active {
	background-color: #ba2732;
}
.mainfind {
	float:left;
}
.srch {
	float: left;
	position: relative;
	top: 11px;
	left: 10px;
	z-index: 1;
}
input[placeholder] {
	position: relative;
	top: -17px;
	width: 270px;
	height: 42px;
	padding-left: 35px;
	padding-right: 20px;
	background-color: #293449;
	font-size: 23px;
	font-family: "cuprum";		
	border: none;
	outline: none;
	color: #111111;
	/*transition: 0.5s linear;*/
}
::-webkit-input-placeholder {color:#f0f1f2;}
::-moz-placeholder          {color:#f0f1f2;}
:-moz-placeholder           {color:#f0f1f2;}
:-ms-input-placeholder      {color:#f0f1f2;}
input[placeholder]:hover {
	background-color: #212a3a;
}
input[placeholder]:focus {
	background-color: #ffffff;
}
.bookmark {
	width: 150px;
	height: 42px;
	font-size: 23px;
	font-family: "cuprum";
	text-align: center;
	float: left;	
}
.bookmark > p {
	color:#ffffff;
	padding: 0px;
	margin: 0px;
	line-height: 1.8em;
}
.bookmark:hover {
	background-color: #212a3a;
}
.bookmark:active {
	background-color: #161d29;
}
.bookmark > p:active {
	color:#999ca1;
} 
.basket {
	width: 150px;
	height: 42px;
	font-size: 23px;
	font-family: "cuprum";
	text-align: center;
	float: left;
}
.basket > p {
	color:#ffffff;
	padding: 0px;
	margin: 0px;
	line-height: 1.8em;
}
.basket:hover {
	background-color: #212a3a;
}
.basket:active {
	background-color: #161d29;
}
.basket > p:active {
	color:#999ca1;
}
.bkm {
	float: left;
	position: relative;
	top: 12px;
	left: 10px;
}
.bsk {
	float: left;
	position: relative;
	top: 12px;
	left: 10px;
}
.buy {
	width: 150px;
	height: 42px;
	font-size: 23px;
	color:#ffffff;
	font-family: "cuprum";
	text-align: center;
	line-height: 1.8em;
	float: left;
	background-color: #63a63e;
}
.buy:hover {
	background-color: #5fbb2d;
}
.buy:active {
	color: #a4bf94;
	background-color: #63a63e;
}
.middleheader {
	position: relative;
	top: -17px;
	width: 940px;
	margin: 0px auto;
}
.mag {
	width: 213px;
	height: 70px;
	/*border: 1px solid red;*/
	float: left;
	text-align: center;
	font-family: "cuprum-italic";
	font-size: 18px;
	color: #ee3643;
	padding: 50px;
	padding-top: 40px;
}
.phonecall {
	width: 313px;
	height: 125px;
	padding-top: 35px;
	/*border: 1px solid red;*/
	float: left;
	text-align: center;
}
.phonecall > p {
	font-family: "cuprum";
	font-size: 15px;
	color: #32425c;
}
.number {
	width: 265px;
	height: 40px;
	margin: 0px auto;
	border: 3px solid #ffffff;
	color: #e9292a;
	font-family: "cuprum";
	font-size: 23px;
	line-height: 1.7em;
}
.phone {
	float: left;
	position: relative;
	top: 13px;
	left: 35px;
}
.authentication {
	width: 280px;
	height: 125px;
	padding-left: 33px;
	padding-right: 0px;
	padding-top: 35px;
	/*border: 1px solid red;*/
	float: left;
	text-align: center;
}
.enter {
	width: 120px;
	height: 45px;
	background-color: #ffffff;
	float: left;	
	margin-right: 10px;
}
.enter > p {
	margin: 0px;
	padding: 0px;
	font-family: "cuprum";
	font-size: 24px;
	color: #000000;
	line-height: 1.8em;
}
.enter > p:hover {
	color: #ee3643;
}
.enter > p:active {
	color: #b2b2b2;
}
.login {
	margin: 0px;
	padding: 0px;
	float: left;
	position: relative;
	top: 13px;
	left: 15px;	
}
.reg {
	width: 150px;
	height: 45px;
	background-color: #ffffff;
	float: left;
	font-family: "cuprum";
	font-size: 24px;
	color: #000000;
	line-height: 1.8em;
}
.reg:hover {
	color: #ee3643;
}
.reg:active {
	color: #b2b2b2;
}
nav {
	position: relative;
	top: -17px;
	width: 940px;
	height: 55px;
	margin: 0px auto;
	background-color: #32425c;
	font-family: "cuprum";
	font-size: 23px;
	text-align: center;
	border-bottom: 5px solid #293449;
}
nav > a {
	text-decoration: none;
	color: #f1f2f4;
}
.list {
	width: 123px;
	line-height: 60px;
	float: left;
	/*transition: 1s;*/
}
.list:hover {
	background-color: #293449;
}
.list2 {
	width: 202px;
	line-height: 60px;
	float: left;
	/*transition: 1s;*/
}
.list2:hover {
	background-color: #293449;
}
a:active {
	color: #868c95;
}
.banner {
	width: 940px;
	margin: 0px auto;
	/*height: 55px;*/
}
.materials {
	width: 300px;
	height: 123px;
	background-color: #f6b22d;
	float: left;
	margin-top: 60px;
	margin-right: 20px;
}
.materials > p {
	position: relative;
	top: -9px;
	left: 25px;
	font-family: "cuprum-bold";
	font-size: 32px;
	color: #ffffff;
}
.btn1 {
	position: relative;
	top: -32px;
	left: 25px;
	float: left;
	width: 135px;
	height: 38px;
	background-color: #dda028;
	float: left;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	font-family: "cuprum";
	font-size: 19px;
	color: #ffffff;
	border-radius: 3px;
}
.btn1:hover {
	background-color: #cccccc;
}
.btn1:active {
	background-color: #b2b2b2;
}
.mrt {
	position: relative;
	top: -67px;
	left: 80px;
}
.new {
	position: relative;
	top: -107px;
	left: 57px;
}
.tools {
	margin-top: 60px;
	margin-right: 20px;
	width: 300px;
	height: 123px;
	background-color: #4aafde;
	float: left;
}
.tools > p {
	position: relative;
	top: -9px;
	left: 25px;
	font-family: "cuprum-bold";
	font-size: 32px;
	color: #ffffff;
}
.tl {
	position: relative;
	top: -67px;
	left: 60px;
}
.btn2 {
	position: relative;
	top: -32px;
	left: 25px;
	float: left;
	width: 135px;
	height: 38px;
	background-color: #429dc7;
	float: left;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	font-family: "cuprum";
	font-size: 19px;
	color: #ffffff;
	border-radius: 3px;
}
.btn2:hover {
	background-color: #cccccc;
}
.btn2:active {
	background-color: #b2b2b2;
}
.technics {
	margin-top: 60px;
	width: 300px;
	height: 123px;
	background-color: #cc79d1;
	float: left;
}
.technics > p {
	position: relative;
	top: -9px;
	left: 25px;
	font-family: "cuprum-bold";
	font-size: 32px;
	color: #ffffff;
}
.tech {
	position: relative;
	top: -67px;
	left: 60px;
}
.btn3 {
	position: relative;
	top: -32px;
	left: 25px;
	float: left;
	width: 135px;
	height: 38px;
	background-color: #b76dbc;
	float: left;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	font-family: "cuprum";
	font-size: 19px;
	color: #ffffff;
	border-radius: 3px;
}
.btn3:hover {
	background-color: #cccccc;
}
.btn3:active {
	background-color: #b2b2b2;
}
.slider {
	width: 620px;
	height: 266px;
	margin-top: 20px;
	margin-right: 20px;
	float: left;
	background-image: url("../img/slider1.png");
}
.sale {
	margin-top: 20px;
	width: 300px;
	height: 123px;
	background-color: #85d179;
	float: left;
}
.sale > p {
	position: relative;
	top: -9px;
	left: 25px;
	font-family: "cuprum-bold";
	font-size: 32px;
	color: #ffffff;
}
.sl {
	position: relative;
	top: -67px;
	left: 60px;
}
.btn5 {
	position: relative;
	top: -32px;
	left: 25px;
	float: left;
	width: 135px;
	height: 38px;
	background-color: #77bc6d;
	float: left;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	font-family: "cuprum";
	font-size: 19px;
	color: #ffffff;
	border-radius: 3px;
}
.btn5:hover {
	background-color: #cccccc;
}
.btn5:active {
	background-color: #b2b2b2;
}
.delivery {
	margin-top: 20px;
	margin-bottom: 53px;
	width: 300px;
	height: 123px;
	background-color: #f6b22d;
	float: left;
}
.delivery > p {
	position: relative;
	top: -9px;
	left: 25px;
	font-family: "cuprum-bold";
	font-size: 32px;
	color: #ffffff;
}
.dlv {
	position: relative;
	top: -67px;
	left: 60px;
}
.btn6 {
	position: relative;
	top: -32px;
	left: 25px;
	float: left;
	width: 135px;
	height: 38px;
	background-color: #dda028;
	float: left;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	font-family: "cuprum";
	font-size: 19px;
	color: #ffffff;
	border-radius: 3px;
}
.btn6:hover {
	background-color: #cccccc;
}
.btn6:active {
	background-color: #b2b2b2;
}
.product {
	width: 940px;
	margin: 0px auto;
}
.popular {
	width: 940px;
	height: 90px;
	margin: 0px auto;
	background-color: #f7f3ec;
}
.popular > p {
	display: block;
	float: left;
	margin-top: 24px;
	margin-left: 30px;
	margin-bottom: 0px;	
	padding: 0px;
	font-family: "cuprum";
	font-size: 40px;
	/*line-height: 1.8em;*/
	text-transform: uppercase;
	color: #32425c;
}
.popbtn {
	position: relative;
	top: 25px;
	right: 24px;
	width: 253px;
	height: 38px;
	float: right;
	background-color: #ee3643;
	font-family: "cuprum";
	font-size: 19px;
	line-height: 2.2em;
	text-transform: uppercase;
	color: #fde4e6;
	text-align: center;
	border-radius: 3px;	
}
a {
	text-decoration: none;
}
.popbtn:hover {
	background-color: #ca2c37;
}
.popbtn:active {
	background-color: #ba2732;
}
.img {
	width: 215px;
	height: 170px;
	margin: 0px auto;
	border: 1px solid #ffffff;
}
.caption {
	position: relative;
	top: 0px;
	width: 216px;
	margin: 0px auto;
}
.itembtn1 {
	display: none;
	position: relative;
	top: -150px;
	left: 42px;	
	width: 135px;
	height: 36px;
	margin: 0px;
	background-color: #63a63e;
	color: #ffffff;
	font-family: "cuprum";
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0px 4px 0px 0px #367315;
	/*z-index: -15;*/
}
.itembtn1:hover {
	background-color: #5fbb2d;
} 
.itembtn1:active {
	background-color: #518534;
}
.itembtn2 {
	display: none;
	position: relative;
	top: -140px;
	left: 42px;	
	width: 129px;
	height: 32px;
	background-color: #ffffff;
	color: #32425c;
	font-family: "cuprum";
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.7em;
	border-radius: 3px;
	cursor: pointer;
	border: 3px solid #63a63e;
	/*z-index: -15;*/
}
.itembtn2:hover {
	border: 3px solid #32425c;
} 
.itembtn2:active {
	border: 3px solid #c1c6ce;
	color: #c1c6ce;
}
.pic1 {
	position: relative;
	/*z-index: 1;*/
}
.item {
	width: 216px;
	height: 316px;
	margin-top: 20px;
	margin-right: 20px; 
	float: left;
	text-align: center;
	border: 2px solid #e5e5e5;
}
.item:hover {
	box-shadow: 0px 0px 20px 2px gray;
}
.item:hover .pic1 {
	display: none;
}
.item:hover .itembtn1 {
	display: block;
	top: 25px;
}
.item:hover .itembtn2 {
	display: block;
	top: 35px;
}
.item > a {
	cursor: default;
}
.item:nth-child(5) {
	margin-right: 0px;
}
.itembsk {
	float: left;
	position: relative;
	top: 10px;
	left: 10px;
}
.name {
	margin: 0px;
	padding: 0px;
	font-family: "cuprum";
	font-size: 24px;
	color: #000000;
}
.pricethrough {
	margin: 0px;
	padding: 0px;
	font-family: "cuprum";
	font-size: 23px;
	color: #999999;
	text-decoration: line-through;
}
.price {
	position: relative;
	top: 0px;
	left: 38px;
	width: 140px;
	height: 38px;
	font-family: "cuprum";
	font-size: 23px;
	text-align: center;
	line-height: 1.7em;
	color: #ffffff;
	background-image: url("../img/price.png");
}
.itemnew {
	position: relative;
	top: 0px;
	left: 0px;
}