@font-face {
	font-family: "cuprum";
	src: url("../css/cuprum.ttf");
}
@font-face {
	font-family: "cuprum-italic";
	src: url("../css/cuprum-italic.ttf");
}
@font-face {
	font-family: "cuprum-bold";
	src: url("../css/cuprum-bold.ttf");
}
html {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
}
.clearfix {
    clear: both;
}
.main {
	width: 1200px;
	margin: 0px auto;
	background-color: #ffffff;
}
header {
	width: 1200px;
	height: 320px;
	background-color: #f1f5f7;
}
.topnav {
	width: 1070px;
	height: 42px;
	padding-left: 130px;
	margin-bottom: 0px;
	background-color: #32425c;
}
.logo {
	width: 220px;
	height: 42px;
	float: left;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.9em;
	font-family: "cuprum";
	font-size: 24px;
	color: 	#f1f2f4;
}
.logo:hover {
	background-color: #ca2c37;
}
.logo:active {
	background-color: #ba2732;
}
.mainfind {
	float:left;
}
.srch {	
	position: relative;
	top: 13px;
	left: 10px;
	float: left;	
	width: 17px;
	height: 17px;	
	background-image: url("../img/.icon-search.png");
	background-repeat: no-repeat;
	z-index: 1; 
}
input[placeholder] {
	position: relative;
	top: -17px;
	width: 270px;
	height: 42px;
	padding-left: 35px;
	padding-right: 20px;	
	background-color: #35425c;
	font-size: 23px;
	font-family: "cuprum";		
	border: none;
	outline: none;
}
input::-webkit-input-placeholder {color:#f0f1f2;}
input:focus::-webkit-input-placeholder {color: gray}
input::-moz-placeholder          {color:#f0f1f2;}
input:-moz-placeholder           {color:#f0f1f2;}
input:-ms-input-placeholder      {color:#f0f1f2;}
input[placeholder]:hover {
	background-color: #263041;
}
.mainfind:hover .srch {
	background-image: url("../img/.icon-search white.png");
	background-repeat: no-repeat;
}
input[placeholder]:focus {
	background-color: #ffffff;	
	background-image: url("../img/.icon-search red.png");
	background-position: 10px 13px;
	background-repeat: no-repeat;
	z-index: 2;	
}
.bookmark {
	width: 150px;
	height: 42px;
	font-size: 23px;
	font-family: "cuprum";
	text-align: center;
	float: left;	
}
.bkm {
	float: left;
	position: relative;
	top: 12px;
	left: 10px;
	width: 14px;
	height: 16px;
	background-image: url("../img/.icon-bookmark.png");	
	background-repeat: no-repeat;
}
.bookmark > p {
	color:#ffffff;
	padding: 0px;
	margin: 0px;
	line-height: 1.8em;
}
.bookmark:hover {
	background-color: #212a3a;
}
.bookmark:hover .bkm {
	background-image: url("../img/.icon-bookmark white.png");	
	background-repeat: no-repeat;
}
.bookmark:active {
	background-color: #161d29;	
}
.bookmark:active .bkm {
	background-color: #161d29;
	background-image: url("../img/.icon-bookmark.png");	
	background-repeat: no-repeat;	
}
.bookmark > p:active {
	color:#999ca1;
} 
.basket {
	width: 150px;
	height: 42px;
	font-size: 23px;
	font-family: "cuprum";
	text-align: center;
	float: left;
}
.bsk {
	float: left;
	position: relative;
	top: 12px;
	left: 10px;
	width: 17px;
	height: 16px;
	background-image: url("../img/.icon-basket.png");	
	background-repeat: no-repeat;
}
.basket > p {
	color:#ffffff;
	padding: 0px;
	margin: 0px;
	line-height: 1.8em;
}
.basket:hover {
	background-color: #212a3a;
}
.basket:hover .bsk {
	background-color: #212a3a;
	background-image: url("../img/.icon-basket white.png");	
	background-repeat: no-repeat;
}
.basket:active {
	background-color: #161d29;	
}
.basket:active .bsk {
	background-color: #161d29;		
	background-image: url("../img/.icon-basket.png");	
	background-repeat: no-repeat;
}
.basket > p:active {
	color:#999ca1;
}
.buy {
	width: 150px;
	height: 42px;
	font-size: 22px;
	color:#ffffff;
	font-family: "cuprum";
	text-align: center;
	line-height: 1.9em;
	float: left;
	background-color: #63a63e;
}
.buy:hover {
	background-color: #5fbb2d;
}
.buy:active {
	color: #a4bf94;
	background-color: #63a63e;
}
.middleheader {
	position: relative;
	top: -17px;
	width: 940px;
	margin: 0px auto;
}
.mag {
	width: 213px;
	height: 70px;
	float: left;
	text-align: center;
	font-family: "cuprum-italic";
	font-size: 18px;
	color: #ee3643;
	padding: 50px;
	padding-top: 40px;
}
.phonecall {
	width: 313px;
	height: 125px;
	padding-top: 35px;
	float: left;
	text-align: center;
}
.phonecall > p {
	font-family: "cuprum";
	font-size: 15px;
	color: #32425c;
}
.number {
	width: 265px;
	height: 40px;
	margin: 0px auto;
	border: 3px solid #ffffff;
	color: #e9292a;
	font-family: "cuprum";
	font-size: 23px;
	line-height: 1.7em;
}
.phone {
	float: left;
	position: relative;
	top: 13px;
	left: 35px;
}
.authentication {
	width: 280px;
	height: 125px;
	padding-left: 33px;
	padding-right: 0px;
	padding-top: 35px;
	float: left;
	text-align: center;
}
.login {
	float: left;
	position: relative;
	margin: 0px;
	padding: 0px;
	width: 20px;
	height: 17px;	
	top: 13px;
	left: 15px;
	background-image: url("../img/.icon-login.png");	
	background-repeat: no-repeat;	
}
.enter {
	width: 120px;
	height: 45px;
	background-color: #ffffff;
	float: left;	
	margin-right: 10px;
}
.enter p {
	margin: 0px;
	padding: 0px;
	font-family: "cuprum";
	font-size: 24px;
	color: #000000;
	line-height: 1.8em;
}
.enter:hover .login{
	background-image: url("../img/.icon-login blue.png");	
	background-repeat: no-repeat;	
}
.enter:hover p {
	color: #ee3643;
}
.enter > p:active {
	color: #b2b2b2;
}
.enter:active .login{
	color: #b2b2b2;
	background-image: url("../img/.icon-login.png");	
	background-repeat: no-repeat;
}
.reg {
	width: 150px;
	height: 45px;
	background-color: #ffffff;
	float: left;
	font-family: "cuprum";
	font-size: 24px;
	color: #000000;
	line-height: 1.8em;
}
.reg:hover {
	color: #ee3643;
}
.reg:active {
	color: #b2b2b2;
}
nav {
	position: relative;
	top: -17px;
	width: 940px;
	height: 55px;
	margin: 0px auto;
	background-color: #32425c;
	font-family: "cuprum";
	font-size: 23px;
	text-align: center;
	border-bottom: 5px solid #293449;
}
nav > a {
	text-decoration: none;
	color: #f1f2f4;
}
.list {
	width: 123px;
	line-height: 60px;
	float: left;
}
.list:hover {
	background-color: #293449;
}
.list2 {
	width: 202px;
	line-height: 60px;
	float: left;
}
.list2:hover {
	background-color: #293449;
}
a:active {
	color: #868c95;
}
.banner {
	width: 940px;
	margin: 0px auto;
}
.materials {
	width: 300px;
	height: 123px;
	background-color: #f6b22d;
	float: left;
	margin-top: 60px;
	margin-right: 20px;
}
.materials > p {
	position: relative;
	top: -9px;
	left: 25px;
	font-family: "cuprum-bold";
	font-size: 32px;
	color: #ffffff;
}
.btn1 {
	position: relative;
	top: -32px;
	left: 25px;
	float: left;
	width: 135px;
	height: 38px;
	background-color: #dda028;
	float: left;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	font-family: "cuprum";
	font-size: 19px;
	color: #ffffff;
	border-radius: 3px;
	cursor: pointer;
	border: none;
	outline: none;
}
.btn1:hover {
	background-color: #cccccc;
}
.btn1:active {
	background-color: #b2b2b2;
}
.mrt {
	position: relative;
	top: -67px;
	left: 80px;
}
.new {
	position: relative;
	top: -106px;
	left: 57px;
}
.tools {
	margin-top: 60px;
	margin-right: 20px;
	width: 300px;
	height: 123px;
	background-color: #4aafde;
	float: left;
}
.tools > p {
	position: relative;
	top: -9px;
	left: 25px;
	font-family: "cuprum-bold";
	font-size: 32px;
	color: #ffffff;
}
.tl {
	position: relative;
	top: -67px;
	left: 60px;
}
.btn2 {
	position: relative;
	top: -32px;
	left: 25px;
	float: left;
	width: 135px;
	height: 38px;
	background-color: #429dc7;
	float: left;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	font-family: "cuprum";
	font-size: 19px;
	color: #ffffff;
	border-radius: 3px;
	cursor: pointer;
	border: none;
	outline: none;
}
.btn2:hover {
	background-color: #cccccc;
}
.btn2:active {
	background-color: #b2b2b2;
}
.technics {
	margin-top: 60px;
	width: 300px;
	height: 123px;
	background-color: #cc79d1;
	float: left;
}
.technics > p {
	position: relative;
	top: -9px;
	left: 25px;
	font-family: "cuprum-bold";
	font-size: 32px;
	color: #ffffff;
}
.tech {
	position: relative;
	top: -67px;
	left: 60px;
}
.btn3 {
	position: relative;
	top: -32px;
	left: 25px;
	float: left;
	width: 135px;
	height: 38px;
	background-color: #b76dbc;
	float: left;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	font-family: "cuprum";
	font-size: 19px;
	color: #ffffff;
	border-radius: 3px;
	cursor: pointer;
	border: none;
	outline: none;
}
.btn3:hover {
	background-color: #cccccc;
}
.btn3:active {
	background-color: #b2b2b2;
}
.slider {
	width: 620px;
	height: 266px;
	margin-top: 20px;
	margin-right: 20px;
	float: left;
	background-image: url("../img/slider1.png");
}
.sale {
	margin-top: 20px;
	width: 300px;
	height: 123px;
	background-color: #85d179;
	float: left;
}
.sale > p {
	position: relative;
	top: -9px;
	left: 25px;
	font-family: "cuprum-bold";
	font-size: 32px;
	color: #ffffff;
}
.sl {
	position: relative;
	top: -67px;
	left: 60px;
}
.btn5 {
	position: relative;
	top: -32px;
	left: 25px;
	float: left;
	width: 135px;
	height: 38px;
	background-color: #77bc6d;
	float: left;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	font-family: "cuprum";
	font-size: 19px;
	color: #ffffff;
	border-radius: 3px;
	cursor: pointer;
	border: none;
	outline: none;
}
.btn5:hover {
	background-color: #cccccc;
}
.btn5:active {
	background-color: #b2b2b2;
}
.delivery {
	margin-top: 20px;
	margin-bottom: 53px;
	width: 300px;
	height: 123px;
	background-color: #f6b22d;
	float: left;
}
.delivery > p {
	position: relative;
	top: -9px;
	left: 25px;
	font-family: "cuprum-bold";
	font-size: 32px;
	color: #ffffff;
}
.dlv {
	position: relative;
	top: -67px;
	left: 60px;
}
.btn6 {
	position: relative;
	top: -32px;
	left: 25px;
	float: left;
	width: 135px;
	height: 38px;
	background-color: #dda028;
	float: left;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	font-family: "cuprum";
	font-size: 19px;
	color: #ffffff;
	border-radius: 3px;
	cursor: pointer;
	border: none;
	outline: none;
}
.btn6:hover {
	background-color: #cccccc;
}
.btn6:active {
	background-color: #b2b2b2;
}
.product {
	width: 940px;
	margin: 0px auto;
}
.popular {
	width: 940px;
	height: 90px;
	margin: 0px auto;
	background-color: #f7f3ec;
}
.popular > p {
	display: block;
	float: left;
	margin-top: 24px;
	margin-left: 30px;
	margin-bottom: 0px;	
	padding: 0px;
	font-family: "cuprum";
	font-size: 40px;
	text-transform: uppercase;
	color: #32425c;
}
.popbtn {
	position: relative;
	top: 25px;
	right: 24px;
	width: 253px;
	height: 38px;
	float: right;
	background-color: #ee3643;
	font-family: "cuprum";
	font-size: 19px;
	line-height: 2.2em;
	text-transform: uppercase;
	color: #fde4e6;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	border: none;
	outline: none;	
}
a {
	text-decoration: none;
}
.popbtn:hover {
	background-color: #ca2c37;
}
.popbtn:active {
	background-color: #ba2732;
}
.img {
	width: 215px;
	height: 170px;
	margin: 0px auto;
	border: 1px solid #ffffff;
}
.caption {
	position: relative;
	top: 0px;
	width: 216px;
	margin: 0px auto;
}
.itembtn1 {
	display: none;
	position: relative;
	top: -150px;
	left: 42px;	
	width: 135px;
	height: 36px;
	margin: 0px;
	padding: 0px;
	background-color: #63a63e;
	color: #ffffff;
	font-family: "cuprum";
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0px 4px 0px 0px #367315;
}
.itembtn1:hover {
	background-color: #5fbb2d;
} 
.itembtn1:hover .bsk {
	background-color: #5fbb2d;
	background-image: url("../img/.icon-basket white.png");	
	background-repeat: no-repeat;
} 
.itembtn1:active {
	background-color: #518534;	
}
.itembtn1:active .bsk{
	background-color: #518534;
	background-image: url("../img/.icon-basket.png");	
	background-repeat: no-repeat;
}
.itembtn2 {
	display: none;
	position: relative;
	top: -140px;
	left: 42px;	
	width: 129px;
	height: 32px;
	background-color: #ffffff;
	color: #32425c;
	font-family: "cuprum";
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.7em;
	border-radius: 3px;
	cursor: pointer;
	border: 3px solid #63a63e;
}
.itembtn2:hover {
	border: 3px solid #32425c;
} 
.itembtn2:active {
	border: 3px solid #c1c6ce;
	color: #c1c6ce;
}
.pic1 {
	position: relative;
	
}
.pic2 {
	position: relative;
	top: 25px;	
}
.pic3 {
	position: relative;
	top: 15px;
}
.pic4 {
	position: relative;
	top: 25px;
}	
.item {
	width: 216px;
	height: 316px;
	margin-top: 20px;
	margin-right: 20px; 
	margin-bottom: 21px;
	float: left;
	text-align: center;
	border: 2px solid #e5e5e5;
}
.item:hover {
	box-shadow: 0px 0px 20px 2px gray;
	border: 2px solid #ffffff;
}
.item:hover .pic1 {
	display: none;
}
.item:hover .pic2 {
	display: none;
}
.item:hover .pic3 {
	display: none;
}
.item:hover .pic4 {
	display: none;
}
.item:hover .itembtn1 {
	display: block;
	top: 25px;
}
.item:hover .itembtn2 {
	display: block;
	top: 35px;
}
.item > a {
	cursor: default;
}
.item:nth-child(5) {
	margin-right: 0px;
}
.name {
	margin: 0px;
	padding: 0px;
	font-family: "cuprum";
	font-size: 24px;
	color: #000000;
}
.pricethrough {
	margin: 0px;
	padding: 0px;
	font-family: "cuprum";
	font-size: 23px;
	color: #999999;
	text-decoration: line-through;
}
.price {
	position: relative;
	top: 0px;
	left: 38px;
	width: 140px;
	height: 38px;
	font-family: "cuprum";
	font-size: 23px;
	text-align: center;
	line-height: 1.7em;
	color: #ffffff;
	background-image: url("../img/price.png");
}
.itemnew {
	position: relative;
	top: -2px;
	left: 80px;
	z-index: 1;
}
.img4 {
	position: relative;
	top: -64px;
	width: 215px;
	height: 170px;
	margin: 0px auto;
	border: 1px solid #ffffff;
}
.caption4 {
	position: relative;
	top: -64px;
	width: 216px;
	margin: 0px auto;
}
.pricethrough4 {
	margin: 27px;
	/*padding: 0px;*/
	font-family: "cuprum";
	font-size: 23px;
	color: #999999;
	text-decoration: line-through;
}
.manufacture {
	width: 940px;
	margin: 0px auto;
}
.brand1 {
	width: 214px;
	height: 85px;
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
	padding-top: 54px;
	float: left;
	border: 3px solid #e5e5e5; 
}
.brand1:hover {
	box-shadow: 0px 0px 20px 2px gray;
	border: 3px solid #ffffff;
}
.brand1:active {
	opacity: 0.5;
}
.brand2 {
	width: 214px;
	height: 89px;
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
	padding-top: 50px;
	float: left;
	border: 3px solid #e5e5e5; 
}
.brand2:hover {
	box-shadow: 0px 0px 20px 2px gray;
	border: 3px solid #ffffff;
}
.brand2:active {
	opacity: 0.5;
}
.brand3 {
	width: 214px;
	height: 92px;
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
	padding-top: 47px;
	float: left;
	border: 3px solid #e5e5e5; 
}
.brand3:hover {
	box-shadow: 0px 0px 20px 2px gray;
	border: 3px solid #ffffff;
}
.brand3:active {
	opacity: 0.5;
}
.brand4 {
	width: 214px;
	height: 121px;
	margin-top: 20px;
	margin-right: 0px;
	text-align: center;
	padding-top: 18px;
	float: left;
	border: 3px solid #e5e5e5; 
}
.brand4:hover {
	box-shadow: 0px 0px 20px 2px gray;
	border: 3px solid #ffffff;
}
.brand4:active {
	opacity: 0.5;
}
.brand5 {
	width: 214px;
	height: 84px;
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
	padding-top: 55px;
	float: left;
	border: 3px solid #e5e5e5; 
}
.brand5:hover {
	box-shadow: 0px 0px 20px 2px gray;
	border: 3px solid #ffffff;
}
.brand5:active {
	opacity: 0.5;
}
.brand6 {
	width: 214px;
	height: 104px;
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
	padding-top: 35px;
	float: left;
	border: 3px solid #e5e5e5; 
}
.brand6:hover {
	box-shadow: 0px 0px 20px 2px gray;
	border: 3px solid #ffffff;
}
.brand6:active {
	opacity: 0.5;
}
.brand7 {
	width: 214px;
	height: 114px;
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
	padding-top: 25px;
	float: left;
	border: 3px solid #e5e5e5; 
}
.brand7:hover {
	box-shadow: 0px 0px 20px 2px gray;
	border: 3px solid #ffffff;
}
.brand7:active {
	opacity: 0.5;
}
.brand8 {
	width: 214px;
	height: 104px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 85px;
	text-align: center;
	padding-top: 35px;
	float: left;
	border: 3px solid #e5e5e5; 
}
.brand8:hover {
	box-shadow: 0px 0px 20px 2px gray;
	border: 3px solid #ffffff;
}
.brand8:active {
	opacity: 0.5;
}
.service {
	width: 1200px;
	height: 525px;
	background-color: #f2f6f8;
}
.subservice {
	position: relative;
	top: 30px;
	width: 940px;
	height: 420px;
	margin: 0px auto;
	/*border: 1px solid red;*/
}
.subservice > p {
	margin: 0px;
	padding: 0px;
}
.text1 {
	font-family: "cuprum";
	font-size: 40px;
	line-height: 2em;
	text-transform: uppercase;
	color: #000000;
}
.text2 {
	display: block;
	font-family: "cuprum";
	font-size: 17px;
	line-height: 1.5em;
	color: #000000;
}
.modal {
	width: 240px;
	height: 250px;
	margin-top: 10px;
	padding-top: 60px;
	float: left;
	/*border: 1px solid red;*/
}
.modalbtn1 {
	width: 217px;
	height: 60px;
	padding-left: 23px;
	background-color: #32425c;
	text-align: left;
	font-family: "cuprum-bold";
	font-size: 26px;
	line-height: 2.3em;
	color: #ffffff;	
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
	cursor: pointer;	
}
.modalbtn1:hover {
	background-color: #293449;
}
.modalbtn1:active {
	background-color: #ffffff;
	color: #32425c;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
.modalbtn2 {
	width: 217px;
	height: 60px;
	padding-left: 23px;
	background-color: #32425c;
	text-align: left;
	font-family: "cuprum-bold";
	font-size: 26px;
	line-height: 2.3em;
	color: #ffffff;	
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
	cursor: pointer;	
}
.modalbtn2:hover {
	background-color: #293449;
}
.modalbtn2:active {
	background-color: #ffffff;
	color: #32425c;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
.modalbtn3 {
	width: 217px;
	height: 60px;
	padding-left: 23px;
	background-color: #32425c;
	text-align: left;
	font-family: "cuprum-bold";
	font-size: 26px;
	line-height: 2.3em;
	color: #ffffff;	
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
	cursor: pointer;	
}
.modalbtn3:hover {
	background-color: #293449;
}
.modalbtn3:active {
	background-color: #ffffff;
	color: #32425c;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
.window1 {	
	display: none;
	position: relative;
	top: 10px;
	left: 240px;
	width: 700px;
	height: 310px;
	border: 1px solid #f2f6f8;
	box-shadow: -3px 0 5px -4px;
	background-image: url("../img/Layer1.png");
	background-position: 233px 78px;
	background-repeat: no-repeat;
}
.window1.show{
	display: block;		
}	
.window2 {	
	display: none;	
	position: relative;
	top: 10px;
	left: 240px;
	width: 700px;
	height: 310px;
	border: 1px solid #f2f6f8;
	box-shadow: -3px 0 5px -4px;
	background-image: url("../img/Layer2.png");
	background-position: 320px 78px;
	background-repeat: no-repeat;
}
.window2.show{
	display: block;		
}
.window3 {	
	display: none;
	position: relative;
	top: 10px;
	left: 240px;
	width: 700px;
	height: 310px;
	border: 1px solid #f2f6f8;
	box-shadow: -3px 0 5px -4px;
	background-image: url("../img/Layer3.png");
	background-position: 233px 78px;
	background-repeat: no-repeat;
}
.window3.show{
	display: block;		
}
.windowtext1 {
	position: relative;
	left: -163px;
	display: block;
	font-family: "cuprum";
	font-size: 40px;
	line-height: 1.0em;
	text-transform: uppercase;
	color: #32425c;
}
.windowtext2 {
	position: relative;
	left: -163px;
	top: -15px;
	display: block;
	float: left;
	width: 400px;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
	font-family: "cuprum";
	font-size: 16px;
	text-align: left;
	line-height: 1.85em;	
	color: black;
}
.windowbtn {
	position: relative;
	top: 30px;
	left: -163px;
	width: 195px;
	height: 38px;
	background-color: #ee3643;
	border-radius: 3px;
	font-family: "cuprum";
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	color: #ffffff;
	cursor: pointer;
	border: none;
	outline: none;
}
.windowbtn:hover {	
	background-color: #ca2c37;	
}
.windowbtn:active {	
	background-color: #ba2732;	
}
.info{
	width: 1200px;
	height: 538px;
}
.subinfo {
	width: 940px;
	height: 800px;
	margin: 0px auto;
}
.infoleft {
	width: 470px;
	margin-top: 10px;
	float: left;
}
.inforight {
	width: 300px;
	margin-top: 10px;
	padding-left: 170px;
	float: left;
}
.infobtn1 {		
	width: 220px;
	height: 38px;
	background-color: #ee3643;
	border-radius: 3px;
	font-family: "cuprum";
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	color: #fde4e6;
	cursor: pointer;
	border: none;
	outline: none;
}
.infobtn1:hover {
	background-color: #ca2c37;
}
.infobtn1:active {
	background-color: #ba2732;
}
.infobtn2 {
	width: 300px;
	height: 38px;
	background-color: #ee3643;
	border-radius: 3px;
	font-family: "cuprum";
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.1em;
	color: #fde4e6;
	cursor: pointer;
	border: none;
	outline: none;
}
.infobtn2:hover {
	background-color: #ca2c37;
}
.infobtn2:active {
	background-color: #ba2732;
}
.infotext1 {
	font-family: "cuprum";
	font-size: 36px;
	text-transform: uppercase;
	color: #000000;
	line-height: 1.5em;
}
.infotext2 {
	font-family: "cuprum";
	font-size: 16px;
	color: #000000;
	line-height: 1.5em;
}
.infotext3 {
	font-family: "cuprum";
	font-size: 21px;
	line-height: 1em;
	color: #000000;
}
.dash {
	color: #fb565a;
}
.map {	
	margin-top: 10px;
	margin-bottom: 34px;	
}
footer {
	width: 1200px;
	height: 300px;
}
.subfooter1 {
	width: 1200px;
	height: 194px;
	background-color: #32425c;
}
.subfooter2 {
	width: 1200px;
	height: 106px;
	background-color: #293449;
}
.navfooter1 {
	width: 940px;
	height: 63px;
	margin: 0px auto;
}
.navfooter2 {
	width: 940px;
	margin: 0px auto;
}
.logo2 {
	width: 220px;
	height: 63px;
	float: left;
	margin-right: 153px;
	margin-top: 0px;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.7em;
	font-family: "cuprum";
	font-size: 40px;
	color: 	#f1f2f4;
}
.logo2:hover {
	background-color: #ca2c37;
}
.logo2:active {
	background-color: #ba2732;
}
li {
	display: inline-block;
	margin-left: 20px;
}
.navfooter1 a {
	font-family: "cuprum";
	font-size: 24px;
	color: #f1f5f7;
	line-height: 4em;	
}
.navfooter1 a:hover {
	text-decoration: underline;	
}
.navfooter1 a:active {
	text-decoration: underline;
	color: #929caa;	
}
.navfooter2 a {
	font-family: "cuprum";
	font-size: 24px;
	color: #ffd180;
	line-height: 2.9em;
}
.navfooter2 a:hover {
	text-decoration: underline;	
}
.navfooter2 a:active {
	text-decoration: underline;
	color: #998a6e;	
}
.navfooter2 > p {
	display: block;
	float: left;
	font-family: "cuprum";
	font-size: 20px;
	color: #f1f5f7;
	line-height: 1.5em;
}
.info2 {
	width: 940px;
	margin: 0px auto;
}
.info2 > p {
	display: block;
	position: relative;
	float: left;
	top: 35px;
	margin: 0px;
	padding: 0px;
	font-family: "cuprum";
	font-size: 22px;
	color: #ffffff;
}
.social {
	position: relative;
	top: 35px;
	float: left;
	margin-left: 80px;
	margin-right: 50px;	
}
.vk {
	display: block;
	float: left;
	width: 42px;
	height: 42px;
	background-image: url("../img/vk.png");
	background-repeat: no-repeat; 
}
.vk:hover {
	background-image: url("../img/vkred.png");
	background-repeat: no-repeat; 
}
.facebook {
	display: block;
	float: left;
	width: 42px;
	height: 42px;
	background-image: url("../img/facebook.png");
	background-repeat: no-repeat;
}
.facebook:hover {
	background-image: url("../img/facebookred.png");
	background-repeat: no-repeat; 
}
.instagramm {
	display: block;
	float: left;
	width: 42px;
	height: 42px;
	background-image: url("../img/instagramm.png");
	background-repeat: no-repeat;
}
.instagramm:hover {
	background-image: url("../img/instagrammred.png");
	background-repeat: no-repeat;
}
.mail {
	position: relative;
	top: 15px;
	float: left;
	margin-right: 30px;
}
.mail > p {
	font-family: "cuprum";
	font-size: 22px;
	color: #ffffff;
	line-height: 0.1em;
}
.mail > a {
	font-family: "cuprum";
	font-size: 22px;
	color: #ffd180;
}
.mail > a:hover {
	text-decoration: underline;
}
.mail > a:active {
	text-decoration: none;
	color: #ee3643;
}
.site {
	position: relative;
	top: 15px;
	float: left;
}
.site > p {
	font-family: "cuprum";
	font-size: 22px;
	color: #ffffff;
	line-height: 0.1em;
}
.site > a {
	font-family: "cuprum";
	font-size: 22px;
	color: #ffd180;
}
.site > a:hover {
	text-decoration: underline;
}
.site > a:active {
	text-decoration: none;
	color: #ee3643;
}
