@font-face {
	font-family: "cuprum";
	src: url("../css/cuprum.ttf");
}
@font-face {
	font-family: "cuprum-italic";
	src: url("../css/cuprum-italic.ttf");
}
html {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
}
.clearfix {
    clear: both;
}
.main {
	width: 1200px;
	margin: 0px auto;
	background-color: #ffffff;
}
header {
	width: 1200px;
	height: 320px;
	background-color: #f1f5f7;
}
.topnav {
	width: 1070px;
	height: 42px;
	padding-left: 130px;
	margin-bottom: 0px;
	background-color: #32425c;
}
.logo {
	width: 220px;
	height: 42px;
	float: left;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
	text-transform: uppercase;
	text-align: center;
	line-height: 45px;
	font-family: "cuprum";
	font-size: 24px;
	color: 	#f1f2f4;
}
.logo:hover {
	background-color: #ca2c37;
}
.mainfind {
	float:left;
}
.srch {
	float: left;
	position: relative;
	top: 11px;
	left: 10px;
	z-index: 1;
}
input[placeholder] {
	position: relative;
	top: -17px;
	width: 270px;
	height: 42px;
	padding-left: 35px;
	padding-right: 20px;
	background-color: #293449;
	font-size: 23px;
	font-family: "cuprum";		
	border: none;
	outline: none;
	color: #111111;
	/*transition: 0.5s linear;*/
}
::-webkit-input-placeholder {color:#f0f1f2;}
::-moz-placeholder          {color:#f0f1f2;}
:-moz-placeholder           {color:#f0f1f2;}
:-ms-input-placeholder      {color:#f0f1f2;}
input[placeholder]:hover {
	background-color: #212a3a;
}
input[placeholder]:focus {
	background-color: #ffffff;
}
.bookmark {
	width: 150px;
	height: 42px;
	font-size: 23px;
	font-family: "cuprum";
	text-align: center;
	float: left;	
}
.bookmark > p {
	color:#ffffff;
	padding: 0px;
	margin: 0px;
	line-height: 1.8em;
}
.bookmark:hover {
	background-color: #212a3a;
}
.basket {
	width: 150px;
	height: 42px;
	font-size: 23px;
	font-family: "cuprum";
	text-align: center;
	float: left;
}
.basket > p {
	color:#ffffff;
	padding: 0px;
	margin: 0px;
	line-height: 1.8em;
}
.basket:hover {
	background-color: #212a3a;
}
.bkm {
	float: left;
	position: relative;
	top: 12px;
	left: 10px;
}
.bsk {
	float: left;
	position: relative;
	top: 12px;
	left: 10px;
}
.buy {
	width: 150px;
	height: 42px;
	font-size: 23px;
	color:#ffffff;
	font-family: "cuprum";
	text-align: center;
	line-height: 1.8em;
	float: left;
	background-color: #63a63e;
}
.buy:hover {
	background-color: #5fbb2d;
}
.middleheader {
	position: relative;
	top: -17px;
	width: 940px;
	margin: 0px auto;
}
.mag {
	width: 213px;
	height: 70px;
	/*border: 1px solid red;*/
	float: left;
	text-align: center;
	font-family: "cuprum-italic";
	font-size: 18px;
	color: #ee3643;
	padding: 50px;
	padding-top: 40px;
}
.phonecall {
	width: 313px;
	height: 160px;
	/*border: 1px solid red;*/
	float: left;
	text-align: center;
}
.authentication {
	width: 313px;
	height: 160px;
	/*border: 1px solid red;*/
	float: left;
	text-align: center;
}
nav {
	position: relative;
	top: -17px;
	width: 940px;
	height: 55px;
	margin: 0px auto;
	background-color: #32425c;
	font-family: "cuprum";
	font-size: 23px;
	text-align: center;
	border-bottom: 5px solid #293449;
}
nav > a {
	text-decoration: none;
	color: #f1f2f4;
}
.list {
	width: 123px;
	line-height: 60px;
	float: left;
	/*transition: 1s;*/
}
.list:hover {
	background-color: #293449;
}
.list2 {
	width: 202px;
	line-height: 60px;
	float: left;
	/*transition: 1s;*/
}
.list2:hover {
	background-color: #293449;
}
a:active {
	color: #868c95;
}
